In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
df1 = pd.read_csv('/home/satyam/Kaggle/Road_Accident/data/playground-series-s5e10/train.csv')
df2 = pd.read_csv('/home/satyam/Kaggle/Road_Accident/data/playground-series-s5e10/test.csv')

In [3]:
df2['accident_risk']= False
df = pd.concat([df1, df2], sort=False)

In [4]:
df.head()

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,0,urban,2,0.06,35,daylight,rainy,False,True,afternoon,False,True,1,0.13
1,1,urban,4,0.99,35,daylight,clear,True,False,evening,True,True,0,0.35
2,2,rural,4,0.63,70,dim,clear,False,True,morning,True,False,2,0.30
3,3,highway,4,0.07,35,dim,rainy,True,True,morning,False,False,1,0.21
4,4,rural,1,0.58,60,daylight,foggy,False,False,evening,True,False,1,0.56

In [5]:
df.shape[0] == df1.shape[0] + df2.shape[0]

True

In [6]:
df.isna().sum()

id                        0
road_type                 0
num_lanes                 0
curvature                 0
speed_limit               0
lighting                  0
weather                   0
road_signs_present        0
public_road               0
time_of_day               0
holiday                   0
school_season             0
num_reported_accidents    0
accident_risk             0
dtype: int64

In [7]:
df['road_type'].value_counts()

road_type
highway    231752
rural      230128
urban      228459
Name: count, dtype: int64

In [8]:
df['road_type'] = df['road_type'].map({'highway': 2,'urban': 1, 'rural': 0})

In [9]:
df.head()

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,0,1,2,0.06,35,daylight,rainy,False,True,afternoon,False,True,1,0.13
1,1,1,4,0.99,35,daylight,clear,True,False,evening,True,True,0,0.35
2,2,0,4,0.63,70,dim,clear,False,True,morning,True,False,2,0.30
3,3,2,4,0.07,35,dim,rainy,True,True,morning,False,False,1,0.21
4,4,0,1,0.58,60,daylight,foggy,False,False,evening,True,False,1,0.56

In [10]:
df['lighting'].value_counts()

lighting
dim         244969
daylight    237412
night       207958
Name: count, dtype: int64

In [11]:
df['lighting'] = df['lighting'].map({'night': 2,'dim': 1, 'daylight': 0})
df.head()

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,0,1,2,0.06,35,0,rainy,False,True,afternoon,False,True,1,0.13
1,1,1,4,0.99,35,0,clear,True,False,evening,True,True,0,0.35
2,2,0,4,0.63,70,1,clear,False,True,morning,True,False,2,0.30
3,3,2,4,0.07,35,1,rainy,True,True,morning,False,False,1,0.21
4,4,0,1,0.58,60,0,foggy,False,False,evening,True,False,1,0.56

In [12]:
df['weather'].value_counts()

weather
foggy    241699
clear    239288
rainy    209352
Name: count, dtype: int64

In [13]:
df['weather'] = df['weather'].map({'rainy': 2,'foggy': 1, 'clear': 0})
df.head()

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,0,1,2,0.06,35,0,2,False,True,afternoon,False,True,1,0.13
1,1,1,4,0.99,35,0,0,True,False,evening,True,True,0,0.35
2,2,0,4,0.63,70,1,0,False,True,morning,True,False,2,0.30
3,3,2,4,0.07,35,1,2,True,True,morning,False,False,1,0.21
4,4,0,1,0.58,60,0,1,False,False,evening,True,False,1,0.56

In [14]:
df['road_signs_present'].value_counts()

road_signs_present
False    346382
True     343957
Name: count, dtype: int64

In [15]:
df['time_of_day'].value_counts()

time_of_day
morning      231157
evening      230466
afternoon    228716
Name: count, dtype: int64

In [16]:
df['time_of_day'] = df['time_of_day'].map({'evening': 2,'afternoon': 1, 'morning': 0})
df.head()

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,0,1,2,0.06,35,0,2,False,True,1,False,True,1,0.13
1,1,1,4,0.99,35,0,0,True,False,2,True,True,0,0.35
2,2,0,4,0.63,70,1,0,False,True,0,True,False,2,0.30
3,3,2,4,0.07,35,1,2,True,True,0,False,False,1,0.21
4,4,0,1,0.58,60,0,1,False,False,2,True,False,1,0.56

In [17]:
df['3_hig_cols'] = df['curvature'] + df['lighting'] + df['speed_limit']
df['2_low_cols'] = df['num_lanes'] + df['school_season']

In [18]:
df.corr()['accident_risk'].sort_values(ascending=False)

accident_risk             1.000000
curvature                 0.325212
3_hig_cols                0.274478
speed_limit               0.256441
lighting                  0.234144
num_reported_accidents    0.127822
weather                   0.077720
holiday                   0.029570
public_road               0.018486
time_of_day               0.005343
road_signs_present        0.002793
road_type                -0.001192
school_season            -0.001221
num_lanes                -0.004283
2_low_cols               -0.004411
id                       -0.544803
Name: accident_risk, dtype: float64

In [19]:
df_train , df_test = df[:df1.shape[0]], df[df1.shape[0]:]
df_test = df_test.drop(columns=['accident_risk'])

In [20]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from lightgbm import LGBMRegressor

In [21]:
X = df_train.drop(columns=['accident_risk'])
y = df_train['accident_risk']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
model1 = LinearRegression()
model2 = DecisionTreeRegressor()
model3 = RandomForestRegressor()
model4 = XGBRegressor()
model5 = LGBMRegressor()

In [23]:
model1.fit(X_train,y_train)
pred1 = model1.predict(X_test)
r2_score(y_test,pred1)

0.7167528055152241

In [24]:
model2.fit(X_train,y_train)
pred2 = model2.predict(X_test)
r2_score(y_test,pred2)

0.7538406239392611

In [25]:
model3.fit(X_train,y_train)
pred3 = model3.predict(X_test)
r2_score(y_test,pred3)

0.8778380210452787

In [26]:
model4.fit(X_train,y_train)
pred4 = model4.predict(X_test)
r2_score(y_test,pred4)

0.8848894799282776

In [27]:
model5.fit(X_train,y_train)
pred5 = model5.predict(X_test)
r2_score(y_test,pred5)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.004446 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 685
[LightGBM] [Info] Number of data points in the train set: 414203, number of used features: 15
[LightGBM] [Info] Start training from score 0.352605

0.8849120343733747

In [28]:
pred = model5.predict(df_test)

In [29]:
final = pd.DataFrame({'id': df2['id'], 'accident_risk': pred})
final.to_csv('submission.csv', index=False)

In [30]:
from sklearn.neural_network import MLPRegressor

In [31]:
model6 = MLPRegressor(hidden_layer_sizes=(100,50,25), max_iter=500, random_state=42)
model6.fit(X_train, y_train)
pred6 = model6.predict(X_test)
r2_score(y_test, pred6)

4.422777683199541e-06

In [32]:
from sklearn.svm import SVR

In [33]:
from sklearn.neighbors import KNeighborsRegressor

In [34]:
model7 = KNeighborsRegressor(n_neighbors=5)
model7.fit(X_train, y_train)
pred7 = model7.predict(X_test)
r2_score(y_test, pred7)

0.08469321347158631

In [35]:
from sklearn.ensemble import GradientBoostingRegressor

In [36]:
model8 = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
model8.fit(X_train, y_train)
pred8 = model8.predict(X_test)
r2_score(y_test, pred8)

0.8818448506779326

In [37]:
from sklearn.linear_model import Ridge

In [38]:
model9 = Ridge(alpha=1.0)
model9.fit(X_train, y_train)
pred9 = model9.predict(X_test)
r2_score(y_test, pred9)

/home/satyam/Kaggle/Road_Accident/.venv/lib/python3.12/site-packages/scipy/_lib/_util.py:1233: LinAlgWarning: Ill-conditioned matrix (rcond=1.08156e-16): result may not be accurate.
  return f(*arrays, *other_args, **kwargs)

0.7167528626715918

In [39]:
from sklearn.linear_model import Lasso

In [40]:
model10 = Lasso(alpha=0.1)
model10.fit(X_train, y_train)
pred10 = model10.predict(X_test)
r2_score(y_test, pred10)

0.20944106089135517

In [41]:
from sklearn.linear_model import ElasticNet

In [42]:
model11 = ElasticNet(alpha=0.1, l1_ratio=0.5)
model11.fit(X_train, y_train)
pred11 = model11.predict(X_test)
r2_score(y_test, pred11)

0.23038111235105285

In [103]:
df_new = df.copy()

In [104]:
df_new.head()

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk,3_hig_cols,2_low_cols
0,0,1,2,0.06,35,0,2,False,True,1,False,True,1,0.13,35.06,3
1,1,1,4,0.99,35,0,0,True,False,2,True,True,0,0.35,35.99,5
2,2,0,4,0.63,70,1,0,False,True,0,True,False,2,0.30,71.63,4
3,3,2,4,0.07,35,1,2,True,True,0,False,False,1,0.21,36.07,4
4,4,0,1,0.58,60,0,1,False,False,2,True,False,1,0.56,60.58,1

In [94]:
df_new.corr()['accident_risk'].sort_values(ascending=False)

accident_risk             1.000000
curvature                 0.325212
3_hig_cols                0.274478
speed_limit               0.256441
lighting                  0.234144
num_reported_accidents    0.127822
weather                   0.077720
holiday                   0.029570
public_road               0.018486
time_of_day               0.005343
road_signs_present        0.002793
road_type                -0.001192
school_season            -0.001221
num_lanes                -0.004283
2_low_cols               -0.004411
id                       -0.544803
Name: accident_risk, dtype: float64

In [112]:
df_new.drop(columns=['2_low_cols','school_season','road_signs_present','3_hig_cols'], inplace=True)

In [113]:
df_new.head()

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,public_road,time_of_day,holiday,num_reported_accidents,accident_risk
0,0,1,2,0.06,35,0,2,True,1,False,1,0.13
1,1,1,4,0.99,35,0,0,False,2,True,0,0.35
2,2,0,4,0.63,70,1,0,True,0,True,2,0.30
3,3,2,4,0.07,35,1,2,True,0,False,1,0.21
4,4,0,1,0.58,60,0,1,False,2,True,1,0.56

In [114]:
df_new_train , df_new_test = df_new[:df1.shape[0]], df_new[df1.shape[0]:]
df_new_test = df_new_test.drop(columns=['accident_risk'])

In [115]:
X = df_new_train.drop(columns=['accident_risk'])
y = df_new_train['accident_risk']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [50]:
model3.fit(X_train,y_train)
pred3 = model3.predict(X_test)
r2_score(y_test,pred3)

0.8747975896093292

In [51]:
model4.fit(X_train,y_train)
pred4 = model4.predict(X_test)
r2_score(y_test,pred4)

0.8848285064201867

In [116]:
model5.fit(X_train,y_train)
pred5 = model5.predict(X_test)
r2_score(y_test,pred5)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.002857 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 420
[LightGBM] [Info] Number of data points in the train set: 414203, number of used features: 11
[LightGBM] [Info] Start training from score 0.352605

0.8849308946593305

In [101]:
pred = model5.predict(df_new_test)

In [ ]:
final = pd.DataFrame({'id': df2['id'], 'accident_risk': pred})
final.to_csv('submission1.csv', index=False)